body{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: black;
    color: chocolate;
}

.timer{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgb(146, 240, 216);
    align-items: center;
    justify-content: center;
    display: flex;
    background: black;
    color: chocolate;
}

.button_box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.action_button{
    display: block;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background: blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 3px;
    color: #ffffff;
    background-color: green;
    cursor: pointer;
    transition: all 200ms ease;
}


.stop_burtton{
    background-color: red;
}

.reset_burtton{
    background-color: gray;
}

.action_button:hover{
    box-shadow: 0 0 5px white;
    letter-spacing: 5px;
}
